.profile__info {
    display: grid;
    grid-template-columns: max-content 24px;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    gap: 10px 18px;
}

@media screen and (max-width: 767px) {
    .profile__info {
        grid-template-columns: 18px max-content 18px;
        gap: 6px 10px;
        text-align: center;
    }
}