.popup__title {
    margin: 34px 0 0 36px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
}

@media screen and (max-width: 767px) {
    .popup__title {
        margin: 25px 22px 0;
        font-size: 18px;
        line-height: 22px;
    }
}