.element__button {
    cursor: pointer;
    height: 19px;
    width: 22px;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    background-image: url(../../../images/like-button.svg);
    background-size: 22px 19px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    transition: opacity 0.2s ease; 
}

.element__button:hover {
    opacity: 0.5;
}