.popup__button_disabled {
    background-color: white;
    color: black;
    border: 1px solid black;
    opacity: 0.2;
    transition: none;
    cursor: default;
    pointer-events: none;
}

.popup__button_disabled:hover {
    opacity: 0.2;
}