.popup__input {
    outline: none;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin: 13px 0 0 0;
    padding: 0 0 13px 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input:first-child {
    margin: 0;
}