@import url(./vendor/normalize.css);

@import url(./vendor/fonts/_inter/fonts_inter.css);

@import url(./blocks/page/page.css);

@import url(./blocks/button-hover/button-hover.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link-block/header__link-block.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email/header__email.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-image/profile__edit-image.css);

@import url(./blocks/elements/__container/elements__container.css);

@import url(./blocks/element/element.css);
@import url(./blocks/element/__pic/element__pic.css);
@import url(./blocks/element/__describtion/element__describtion.css);
@import url(./blocks/element/__name/element__name.css);
@import url(./blocks/element/__button/element__button.css);
@import url(./blocks/element/__button/_active/element__button_active.css);
@import url(./blocks/element/__delete-button/element__delete-button.css);
@import url(./blocks/element/__delete-button/_disabled/element__delete-button_disabled.css);
@import url(./blocks/element/__pic-button/element__pic-button.css);
@import url(./blocks/element/__like-place/element__like-place.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/_pic-fullscreen/popup_pic-fullscreen.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__capture/popup__capture.css);
@import url(./blocks/popup/__overlay/popup__overlay.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__status-img/popup__status-img.css);
@import url(./blocks/popup/__status-text/popup__status-text.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__content/form__content.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__link/form__link.css);